<suite name="POM - Project">
    <lissteners>
        <listener class-name="com.saucedemo.utils.TestListener" />
    </lissteners>

    <test name="Login/Logout Scenarios">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
        </classes>
    </test>
    <test name="Cart Page Tests">
        <classes>
            <class name="com.saucedemo.tests.CartPageTest"/>
        </classes>
    </test>
</suite>